
body {

    background-color: #F7F7F7;

}

header {

    display: flex;
    flex-wrap: wrap;   
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background-color: #93a090;
    line-height: 125px;
}

header ul {
    display: inline;
    padding: 0;

    
}

header li {
    display: inline;
    margin-left: 20px;

}

li a:hover:not(.active) {


    color:black;
    text-decoration: underline;
}

.active {

    text-decoration: underline white;
    
}

header a {
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-decoration: none;
    color:white;
    font-size: 130%;

}

.logo {
    width:  100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 15px;
}

.iframe {

    border: 2px solid black;
    display: block;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 90%;
    height: 600px;

}

.center {
    text-align: center;
}

#myVideo {
    display: flex;
    position: center;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    margin-top: 100px;
  }
 

.webcontainer {

    margin-top: 150px;
}


  


  h1 {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
  }

  h2 {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }

  p {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

@media only screen and (max-width: 800px) {


    .flex-container div{
        width: 21.4%;
    }    


}

@media only screen and (max-width: 600px) {


    .flex-container div{
        width: 46.4%;
    }    


}

@media only screen and (max-width: 400px) {


    .flex-container div{
        width: 100%;
    }    


}